.contenedor {
    display: flex;
    flex-direction: column;
}

.contenedor {

    input,
    button,
    span {
        margin-bottom: 10px;
        width: 200px;
    }

}

.errorMessage {
    color: red;
    font-style: italic;
}

.porcentajeLabel {
    color: blue;
}

.montoPagarLabel {
    color: red;
}

.ingresosLabel {
    color: green;
}